<template>
  <v-app>
    <v-container><v-app-bar>
      <div><v-img :src="image" heigh="80" width="80" contain /></div>
      <v-toolbar-title>
        <a href="/" style="text-decoration: none;color: black;"
          ><h1>Free Fitness</h1></a
        >
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <template v-slot:extension>
        <v-tabs align-with-title>
          <v-tab><a href="/#/fitness" style="text-decoration: none; color: black;">
            Fitness Plan
            </a></v-tab>
          
          <v-tab
            ><a href="/#/nutrition" style="text-decoration: none; color: black;"
              >Nutrition Plan</a
            ></v-tab
          >
          <v-tab
            ><a href="/#/macros" style="text-decoration: none;color: black;"
              >Macros and TDEE</a
            ></v-tab
          >
          <v-tab
            ><a href="/#/gyms" style="text-decoration: none;color: black;"
              >Gym Finder</a
            ></v-tab
          >
          <v-tab
            ><a href="/#/createExercises" style="text-decoration: none;color: black;"
              >Create Exercises</a
            ></v-tab
          >
          <v-tab
            ><a href="/#/createRecipes" style="text-decoration: none;color: black;"
              >Create Recipes</a
            ></v-tab
          >
          <v-tab
            ><a href="/#/findRecipes" style="text-decoration: none;color: black;"
              >Find Recipes</a
            ></v-tab
          >
          <v-tab
            ><a href="/#/findExercises" style="text-decoration: none;color: black;"
              >Find Exercises</a
            ></v-tab
          >
        </v-tabs>
      </template>
    </v-app-bar></v-container>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app>
      <div>A Taylor's Tales Production</div>
      <v-spacer></v-spacer>
      <div>Version 3.0.0</div>
      <v-spacer></v-spacer>
      <div> &copy; Taylor's Tales LTD {{ new Date().getFullYear() }}</div>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      image: require("./assets/profile.png"),
    };
  },
};
</script>
