<template>
  <div>
    <v-container>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="exerciseName"
          label="Name of Exercise"
          required
        ></v-text-field>

        <v-text-field
          v-model="sets"
          :rules="numberRules"
          suffix="sets"
          label="Sets"
          required
        >
        </v-text-field>

        <v-text-field
          :rules="numberRules"
          label="Reps"
          v-model="reps"
          suffix="reps"
          required
        ></v-text-field>

        <v-combobox
          v-model="locationType"
          :items="locationTypeItems"
          label="Exercise Location Type"
          required
        ></v-combobox>

        <v-combobox
          v-model="ability"
          :items="abilityItems"
          label="Exercise Ability"
          required
        ></v-combobox>

        <v-combobox
          v-model="bodyPart"
          :items="bodyPartItems"
          label="Exercise Targeted Body Part"
          required
        ></v-combobox>

        <v-btn color="success" class="mr-4" @click="createExercise">
          submit
        </v-btn>
      </v-form>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      valid: true,
      exerciseName: "",
      sets: 0,
      reps: 0,
      locationType: "",
      ability: "",
      bodyPart: "",
      locationTypeItems: ["gym", "home", "mixed", "class"],
      abilityItems: ["beginner", "intermediate", "advanced", "savage"],
      bodyPartItems: [
        "biceps",
        "triceps",
        "chest",
        "back",
        "shoulders",
        "cardio",
        "abs",
        "legs",
      ],
      numberRules: [
        (v) =>
          Number.isInteger(Number(v)) || "The value must be an integer number",
      ],
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
      ],
    };
  },
  methods: {
    createExercise() {
      let exerciseInformation = {
        ability: this.ability,
        sets: this.sets,
        reps: this.reps,
        type: this.locationType,
        name: this.exerciseName,
        body_part: this.bodyPart,
      };
      this.$store
        .dispatch("createExercise", exerciseInformation)
        .then((response) => {
          typeof(response) == "object" ? location.replace("/#/") : console.log(response);
        });
    },
  },
};
</script>
