<template>
  <div>
    <v-container>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="mealName"
          label="Name of Recipe"
          required
        ></v-text-field>

        <v-text-field
          v-model="cookingTime"
          :rules="numberRules"
          suffix="minutes"
          label="amount of time to cook"
          required
        >
        </v-text-field>

        <v-combobox
          v-model="ingrediants"
          :items="ingrediantsItems"
          chips
          clearable
          label="ingrediants"
          multiple
          solo
        >
          <template v-slot:selection="{ attrs, item, select, selected }">
            <v-chip
              v-bind="attrs"
              :input-value="selected"
              close
              @click="select"
              @click:close="remove(item)"
            >
              <strong>{{ item }}</strong
              >&nbsp;
            </v-chip>
          </template>
        </v-combobox>

        <v-text-field
          v-model="protein"
          :counter="10"
          :rules="numberRules"
          label="Protein"
          suffix="grams"
          required
        >
        </v-text-field>
        <v-text-field
          v-model="carbs"
          :counter="10"
          :rules="numberRules"
          label="Carbs"
          suffix="grams"
          required
        >
        </v-text-field>
        <v-text-field
          :rules="numberRules"
          label="Fat"
          v-model="fat"
          suffix="grams"
          required
        ></v-text-field>

        <v-text-field
          :rules="numberRules"
          label="Calories"
          v-model="calories"
          suffix="cals"
          required
        ></v-text-field>

        <v-combobox
          v-model="mealTime"
          :items="mealTimeItems"
          label="Meal Time"
          required
        ></v-combobox>

        <v-combobox
          v-model="dietType"
          :items="dietTypeItems"
          label="Diet Types that can have this recipe "
          required
          multiple
        ></v-combobox>

        <v-combobox
          v-model="allergies"
          :items="allergyItems"
          label="Allergies that may not have this meal"
          required
          multiple
        ></v-combobox>

        <v-btn color="success" class="mr-4" @click="createRecipe">
          submit
        </v-btn>
      </v-form>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      valid: true,
      ingrediants: [],
      mealName: '',
      cookingTime: 0,
      protein: 0,
      carbs: 0,
      fat: 0,
      calories: 0,
      dietType: '',
      allergies: [],
      mealTime: '',
      mealTimeItems: ["Breakfast", "Lunch", "Dinner"],
      chips: [],
      ingrediantsItems: [],
      dietTypeItems: [
        "standard",
        "vegan",
        "vegetarian",
        "keto",
        "paleo",
        "high protein low fat",
        "Chris`s favourites",
      ],
      allergyItems: [
        "none",
        "dairy",
        "egg",
        "gluten",
        "grain",
        "peanut",
        "seafood",
        "sesame",
        "shellfish",
        "soy",
        "sulfite",
        "tree nut",
        "wheat",
      ],
      numberRules: [
        (v) =>
          Number.isInteger(Number(v)) || "The value must be an integer number",
      ],
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
      ],
    };
  },
  methods: {
    remove(item) {
      this.chips.splice(this.chips.indexOf(item), 1);
      this.chips = [...this.chips];
    },
    createRecipe() {
      let macros = {protein: this.protein, carbs: this.carbs, fat:this.fat}
      let recipeInformation = {
        name: this.mealName,
        cookingTime: this.cookingTime,
        ingrediants: this.ingrediants,
        macros: macros,
        calories: this.calories,
        mealTime: this.mealTime,
        dietTypes: this.dietType,
        allergies: this.allergies,
      };
      console.log(recipeInformation);
      this.$store
        .dispatch("createRecipes", recipeInformation)
        .then(response => {
          if (response) {
            console.log(response);
            location.replace('/#/')
          } else {
            console.log("error");
          }
        });
    },
  },
};
</script>
