<template>
  <v-container>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <template v-for="step in steps">
          <v-stepper-step
            :key="`${step.number}-step`"
            :complete="e1 > step.number"
            :step="step.number"
            editable
          >
            Step {{ step.title }}
          </v-stepper-step>

          <v-divider v-if="step.number !== steps" :key="step.number" />
        </template>
        <v-btn id="edit" class="ma-2" color="#64FFDA" @click.native="getRecipes"
          >Get Recipes</v-btn
        >
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content
          v-for="step in steps"
          :key="`${step.number}-content`"
          :step="step.number"
        >
          <v-card v-if="step.number == 1">
            <v-form>
              <v-container>
                <v-layout>
                  <v-flex>
                    <v-row>
                      <v-col>
                        <h3>Macronutrients</h3>
                        <v-combobox
                          v-model="macros"
                          :items="macrosItems"
                          label="Select your macros"
                        ></v-combobox>
                      </v-col>
                      <v-col>
                        <h3>Time of day to eat</h3>
                        <v-combobox
                          v-model="timeOfDay"
                          :items="timeofDayItems"
                          label="Select your time of day"
                        ></v-combobox>
                      </v-col>
                      <v-col>
                        <h3>Diet</h3>
                        <v-combobox
                          v-model="diet"
                          :items="dietItems"
                          label="Select your diet"
                        ></v-combobox>
                      </v-col>
                      <v-col>
                        <h3>Allergies</h3>
                        <v-combobox
                          v-model="allergies"
                          :items="allergyItems"
                          label="Select your allergies"
                        ></v-combobox>
                      </v-col>
                      <v-col>
                        <h3>Calories</h3>
                        <v-combobox
                          v-model="calories"
                          :items="calorieItems"
                          label="Select your macros"
                        ></v-combobox>
                      </v-col>
                      <v-btn
                        color="#64FFDA"
                        class="ma-2"
                        @click.native="clear()"
                        >Clear</v-btn
                      >
                    </v-row>
                    <v-snackbar v-model="snackbar">
                      {{ text }}
                      <v-btn color="#D50000" text @click="snackbar = false">
                        Close
                      </v-btn>
                    </v-snackbar>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card>

          <v-card v-else class="mb-12">
            <v-spacer></v-spacer>
            <v-text-field label="Search" v-model="search"></v-text-field>
            <v-data-table
              :search="search"
              :headers="headers"
              :items="plan"
              class="elevation-1"
            >
            </v-data-table>
          </v-card>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>

<script>
export default {
  name: "Nutrition",
  data: () => ({
    search: "",
    e1: 1,
    steps: [
      {
        number: 1,
        title: "Attributes",
      },
      {
        number: 2,
        title: "Recipes",
      },
    ],
    macros: null,
    diet: null,
    allergies: null,
    calories: null,
    timeOfDay: "",
    timeofDayItems: [
      "Breakfast",
      "What about second breakfast?",
      "Lunch",
      "Dinner",
    ],
    macrosItems: ["high protein", "high carb", "high fat"],
    calorieItems: ["400 cals or less", "500 cals or less", "600 cals or less"],
    dietItems: [
        "standard",
        "vegan",
        "vegetarian",
        "keto",
        "paleo",
        "high protein low fat",
        "Chris`s favourites",
      ],
    allergyItems: [
      "none",
      "dairy",
      "egg",
      "gluten",
      "grain",
      "peanut",
      "seafood",
      "sesame",
      "shellfish",
      "soy",
      "sulfite",
      "tree nut",
      "wheat",
    ],
    headers: [
      { text: "Recipe Name", value: "name" },
      { text: "Cooking Time (mins)", value: "cookingTime" },
      { text: "Protein", value: "macros.protein" },
      { text: "Carbohydrates", value: "macros.carbs" },
      { text: "Fat", value: "macros.fat" },
      { text: "Calories", value: "calories" },
      { text: "Ingrediants", value: "ingrediants" },
      { text: "Instructions", value: "instructions" },
    ],
    plan: [],
    snackbar: false,
    text: "Please fill out basic information",
  }),
  watch: {
    steps(val) {
      if (this.e1 > val) {
        this.e1 = val;
      }
    },
  },

  methods: {
    nextStep(n) {
      if (n === this.steps) {
        this.e1 = 1;
      } else {
        this.e1 = n + 1;
      }
    },
    getRecipes() {
      let data = {
        macros: this.macros,
        timeOfDay: this.timeOfDay,
        diet: this.diet,
        allergies: this.allergies,
        calories: this.calories,
        bool: 'getRecipes'
      };
      this.$store.dispatch("getRecipes", data).then((response) => {
              this.plan = response.filter((meal) => {
                return meal != null;
              });
              this.e1 = 2;
      });
    },
    clear() {
      this.diet = null;
      this.allergies = null;
      this.calories = null;
      this.macros = null;
      this.timeOfDay = null;
    },
  },
};
</script>

<style scoped></style>
