<template>
  <v-container>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <template v-for="step in steps">
          <v-stepper-step
            :key="`${step.number}-step`"
            :complete="e1 > step.number"
            :step="step.number"
            editable
          >
            Step {{ step.title }}
          </v-stepper-step>

          <v-divider v-if="step.number !== steps" :key="step.number" />
        </template>
        <v-btn id="edit" class="ma-2" color="#64FFDA" @click.native="getRecipes"
          >Get Recipes</v-btn
        >
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content
          v-for="step in steps"
          :key="`${step.number}-content`"
          :step="step.number"
        >
          <v-card v-if="step.number == 1">
            <v-form>
              <v-container>
                <v-layout>
                  <v-flex>
                    <v-row>
                      <v-col>
                        <h3>Targeted Body Part</h3>
                        <v-combobox
                          v-model="bodyPart"
                          :items="bodyPartItems"
                          label="Select the body part"
                        ></v-combobox>
                      </v-col>
                      <v-col>
                        <h3>Where will the workout be?</h3>
                        <v-combobox
                          v-model="workoutLocation"
                          :items="workoutLocationItems"
                          label="Select workout location"
                        ></v-combobox>
                      </v-col>
                      <v-col>
                        <h3>User's Ability</h3>
                        <v-combobox
                          v-model="ability"
                          :items="abilityItems"
                          label="Select your ability"
                        ></v-combobox>
                      </v-col>
                      <v-btn
                        color="#64FFDA"
                        class="ma-2"
                        @click.native="clear()"
                        >Clear</v-btn
                      >
                    </v-row>
                    <v-snackbar v-model="snackbar">
                      {{ text }}
                      <v-btn color="#D50000" text @click="snackbar = false">
                        Close
                      </v-btn>
                    </v-snackbar>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card>

          <v-card v-else class="mb-12">
            <v-spacer></v-spacer>
            <v-text-field label="Search" v-model="search"></v-text-field>
            <v-data-table
              :search="search"
              :headers="headers"
              :items="plan"
              class="elevation-1"
            >
            </v-data-table>
          </v-card>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>

<script>
export default {
  name: "Nutrition",
  data: () => ({
    search: "",
    e1: 1,
    steps: [
      {
        number: 1,
        title: "Information",
      },
      {
        number: 2,
        title: "Exercises",
      },
    ],
    bodyPart: "",
    workoutLocation: "",
    ability: "", 
    bodyPartItems: ['chest', 'back', 'shoulders', 'legs', 'abs', 'biceps', 'triceps'],
    workoutLocationItems: ['gym', 'home', 'mixed'],
    abilityItems: ['beginner', 'intermediate', 'adavanced', 'savage'],
    headers: [
      { text: "Exercise", value: "name" },
      { text: "Body Part", value: "body_part" },
      { text: "Sets (Number of Sets of Reps)", value: "sets" },
      {
        text: "Repetitions (Number of times the exercise is performed)",
        value: "reps",
      },
    ],
    plan: [],
    snackbar: false,
    text: "Please fill out basic information",
  }),
  watch: {
    steps(val) {
      if (this.e1 > val) {
        this.e1 = val;
      }
    },
  },

  methods: {
    nextStep(n) {
      if (n === this.steps) {
        this.e1 = 1;
      } else {
        this.e1 = n + 1;
      }
    },
    getRecipes() {
      let data = {
        bodyPart: this.bodyPart,
        workoutLocation:this.workoutLocation,
        ability: this.ability
      };
      this.$store.dispatch("getSpecificExercises", data).then((response) => {
        this.plan = response.filter(exercise => {
          return exercise != null;
        });
        this.e1 = 2;
      });
    },
    clear() {
    },
  },
};
</script>

<style scoped></style>
