<template>
  <div>
    <v-container>
      <v-stepper v-model="e1">
        <v-stepper-header>
          <template v-for="step in steps">
            <v-stepper-step
              :key="`${step.number}-step`"
              :complete="e1 > step.number"
              :step="step.number"
              editable
            >
              Step {{ step.title }}
            </v-stepper-step>

            <v-divider v-if="step.number !== steps" :key="step.number" />
          </template>
          <v-btn
            id="edit"
            class="ma-2"
            color="#64FFDA"
            @click.native="generate()"
            >Generate plan</v-btn
          >
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content
            v-for="step in steps"
            :key="`${step.number}-content`"
            :step="step.number"
          >
            <v-card v-if="step.number == 1">
              <v-container>
                <v-form ref="form">
                  <v-row justify="space-around">
                    <v-col>
                      <h3>Training level</h3>

                      <v-combobox
                        v-model="trainingLevel"
                        :items="trainingItems"
                        label="training"
                        outlined
                        dense
                      ></v-combobox>

                    </v-col>
                    <v-col
                      ><h3>Type of workouts</h3>                      
                      <v-combobox
                        v-model="typeOfWorkout"
                        :items="typeItems"
                        label="type of workouts"
                        outlined
                        dense
                      ></v-combobox>

                    </v-col>
                    <v-col>
                      <h3>When to workout</h3>
                      <v-combobox
                        v-model="daysToWorkout"
                        :items="daysItems"
                        label="when to workouts"
                        outlined
                        dense
                        multiple
                      ></v-combobox>
                    </v-col>
                    <v-col>
                      <h3>Goals</h3>
                      <v-combobox
                        v-model="goals"
                        :items="goalItems"
                        label="Goals"
                        outlined
                        dense
                      ></v-combobox>
                    </v-col>
                    <v-col><v-btn color="#00897B" class="ma-2" @click.native="clear()"
                      >Clear</v-btn
                    ></v-col>
                  </v-row>
                </v-form>
              </v-container>
              <v-snackbar v-model="snackbar">
                {{ text }}
                <v-btn color="#D50000" text @click="snackbar = false">
                  Close
                </v-btn>
              </v-snackbar>
              <v-snackbar v-model="snackbar2">
                {{ text2 }}
                <v-btn color="#D50000" text @click="snackbar2 = false">
                  Close
                </v-btn>
              </v-snackbar>
            </v-card>

            <v-card v-else class="mb-12">
              <v-spacer />
              <v-text-field label="Search" v-model="search"></v-text-field>
              <v-data-table
                :search="search"
                :headers="headers"
                :items="exercises"
                class="elevation-1"
              >
              </v-data-table>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Fitness",
  data: () => ({
    search: "",
    e1: 1,
    steps: [
      {
        number: 1,
        title: "Basic Information",
      },
      {
        number: 2,
        title: "Generated Plan",
      },
    ],
    daysToWorkout: null,
    typeOfWorkout: null,
    trainingLevel: null,
    goals: null,
    split: null,
    trainingItems: [
            'beginner',
            'intermediate',
            'advanced',
            "savage"
    ],
    goalItems: [
            'lose Weight',
            'gain Muscle',
            'stay Healthy',
            'get shredded'
    ],
    typeItems: [
            'gym',
            'home',
            'mixed',
    ],
    daysItems: [
            'Monday',
            'Tuesday',
            'Wednesday',
            'Thursday',
            'Friday',
            'Saturday',
            'Sunday'
    ],
    exercises: [],

    headers: [
      { text: "Exercise", value: "name" },
      { text: "Body Part", value: "body_part" },
      { text: "Sets (Number of Sets of Reps)", value: "sets" },
      {
        text: "Repetitions (Number of times the exercise is performed)",
        value: "reps",
      },
      { text: "Day", value: "day" },
    ],

    plan: [],
    snackbar: false,
    snackbar2: false,
    text: "Please fill out basic information",
    text2: "Please select 3 or more days to exercise",
  }),

  watch: {
    steps(val) {
      if (this.e1 > val) {
        this.e1 = val;
      }
    },
  },

  methods: {
    
    nextStep(n) {
      if (n === this.steps) {
        this.e1 = 1;
      } else {
        this.e1 = n + 1;
      }
    },

    generate() {
      let basicInformation = {
        ability: this.trainingLevel,
        type: this.typeOfWorkout,
        days: this.daysToWorkout,
        goals: this.goals,
      };
      if (this.daysToWorkout.length < 3) {
        this.snackbar2 = true;
      } else {
        if (
          this.trainingLevel != null &&
          this.typeOfWorkout != null &&
          this.daysToWorkout !== [] &&
          this.goals != null
        ) {
          this.$store
            .dispatch("getExercises", basicInformation)
            .then((response) => {
              if (response) {
                this.exercises = response;
                this.e1 = 2;
              } else {
                // eslint-disable-next-line no-console
                console.log("error");
              }
            });
        } else {
          this.snackbar = true;
        }
      }
    },

    clear() {
      this.trainingLevel = null;
      this.typeOfWorkout = null;
      this.daysToWorkout = [];
      this.goals = null;
    },
  },
};
</script>
