<template xmlns:position="http://www.w3.org/1999/xhtml">
  <div>
    <v-container fluid >
       
        <v-row no-gutters>
          <v-col
        > 
        </v-col>

        <v-col
        > <div><v-img :src="image" max-height="300" max-width="500" contain /></div>
        <div>
          <h1>Welcome to Free Fitness</h1>
          </div>
        <div> 
          <p>Free Fitness is a website that provides you with fitness plans, nutrion plans, macros/tdee calculator and a gym finder</p>
        </div>
        <div>
          <v-btn href="/#/fitness">Get started</v-btn>
          <v-btn href="https://taylorstales.co.uk">Taylor's Tales</v-btn>
          <v-btn href="https://www.instagram.com/taylorstales1/"> <font-awesome-icon :icon="['fab', 'instagram']" /></v-btn>
        </div>
        </v-col>

        <v-col
        > 
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      image: require("../assets/profile.png"),
    };
  },
};
</script>

<style scoped>
.text {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font: 16px "lato";
}
</style>
