<template>
  <div>
    <v-container>
      <v-form ref="macrosForm" lazy-validation class="text-xs-center">
        <h3>Age</h3>
        <v-text-field
          outlined
          v-model="age"
          required
          :rules="[(v) => !!v || 'Item is required']"
        ></v-text-field>

        <h3>Sex</h3>
        <v-combobox
          v-model="sex"
          :items="sexItems"
          label="Select your activity level"
          required
          :rules="[(v) => !!v || 'Item is required']"
        ></v-combobox>

        <h3>Weight and Height</h3>

        <v-combobox
          v-model="unitOfWeight"
          :items="weightItems"
          label="Select your activity level"
          required
          :rules="[(v) => !!v || 'Item is required']"
          @change="setType"
        ></v-combobox>
        <h3>Weight</h3>

        <v-text-field
          outlined
          :placeholder="unitTypeWeight"
          v-model="weight"
          required
          :rules="[(v) => !!v || 'Item is required']"
        ></v-text-field>

        <h3>Height</h3>
        <v-text-field
          outlined
          :placeholder="unitTypeHeight"
          v-model="height"
          required
          :rules="[(v) => !!v || 'Item is required']"
        ></v-text-field>

        <h3>Goal</h3>
        <v-combobox
          v-model="goal"
          :items="goalItems"
          label="Select your activity level"
          required
          :rules="[(v) => !!v || 'Item is required']"
        ></v-combobox>

        <h3>Activity Level</h3>
        <v-combobox
          v-model="activity"
          :items="items"
          label="Select your activity level"
          required
          :rules="[(v) => !!v || 'Item is required']"
        ></v-combobox>

        <v-btn class="center" rounded color="#64FFDA" @click="getMacros"
          >Calculate</v-btn
        >
      </v-form>
      <v-snackbar v-model="snackbar">
        {{ text }}
        <v-btn color="#D50000" text @click="snackbar = false">
          Close
        </v-btn>
      </v-snackbar>
      <MacrosDialog :macrosDialog.sync="macrosDialog" :macros="macros" />
    </v-container>
  </div>
</template>

<script>
import MacrosDialog from "./partials/MacrosDialog";

export default {
  name: "Macros",
  components: { MacrosDialog },
  data() {
    return {
      sexItems: ["Male", "Female"],
      weightItems: ["Imperial", "Metric"],
      items: [
        "Sedentary",
        "Slightly active",
        "Lightly Active",
        "Moderately Active",
        "Very Active",
        "Extremely Active",
      ],
      goalItems: ["Fat Loss", "Maintenance", "Muscle Gain"],
      macrosDialog: false,
      unitTypeWeight: "",
      unitTypeHeight: "",
      unitOfWeight: null,
      weight: null,
      height: null,
      unit: null,
      age: null,
      sex: null,
      goal: null,
      activity: null,
      snackbar: false,
      tdee: [],
      macros: [],

      text: "Please fill out the form correctly",
    };
  },
  methods: {
    test() {
      this.macrosDialog = true;
    },
    setType() {
      this.unitOfWeight == "Imperial"
        ? (this.unitTypeHeight = "ft")
        : (this.unitTypeHeight = "cm");
      this.unitOfWeight == "Imperial"
        ? (this.unitTypeWeight = "st")
        : (this.unitTypeWeight = "kg");
    },
    getMacros() {
      this.macros = []
      const data = {
              weight: this.weight,
              height: this.height,
              unit: this.unitOfWeight,
              age: this.age,
              sex: this.sex,
              goal: this.goal,
              activity: this.activity,
              tdee: 0, 
              macros : {protein: 0,carbohydrates: 0,fat: 0,},
              bmr : 0,
              gain : 0,
              fatLossDrop : 0
              };
      this.snackbar = this.$refs.macrosForm.validate() ? false : true;
      this.$store.dispatch("getMacros", data).then(response => {this.macros.push(response)})
      this.macrosDialog = true;
    },
  },
};
</script>

<style scoped></style>
