<template>
  <v-container>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <template v-for="step in steps">
          <v-stepper-step
            :key="`${step.number}-step`"
            :complete="e1 > step.number"
            :step="step.number"
            editable
          >
            Step {{ step.title }}
          </v-stepper-step>

          <v-divider v-if="step.number !== steps" :key="step.number" />
        </template>
        <v-btn id="edit" class="ma-2" color="#64FFDA" @click.native="generate()"
          >Generate plan</v-btn
        >
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content
          v-for="step in steps"
          :key="`${step.number}-content`"
          :step="step.number"
        >
          <v-card v-if="step.number == 1">
            <v-form>
              <v-container>
                <v-layout>
                  <v-flex>
                    <v-row>
                      <v-col>
                        <v-flex xs12>
                          <h3>Daily Calorie intake</h3>
                          <v-text-field v-model="calories" />
                        </v-flex>
                      </v-col>
                      <v-col>
                        <v-flex xs12>
                          <h3>Dietary requirements</h3>
                          <v-combobox
                            v-model="diet"
                            :items="dietaryItems"
                            label="Select your diet"
                          ></v-combobox>
                        </v-flex>
                      </v-col>
                      <v-col>
                        <h3>Allergies</h3>
                        <v-combobox
                          v-model="allergies"
                          :items="allergyItems"
                          label="Select your allergies"
                        ></v-combobox>
                      </v-col>
                      <v-btn
                        color="#64FFDA"
                        class="ma-2"
                        @click.native="clear()"
                        >Clear</v-btn
                      >
                    </v-row>
                    <v-snackbar v-model="snackbar">
                      {{ text }}
                      <v-btn color="#D50000" text @click="snackbar = false">
                        Close
                      </v-btn>
                    </v-snackbar>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card>

          <v-card v-else class="mb-12">
            <v-spacer></v-spacer>
            <v-text-field label="Search" v-model="search"></v-text-field>
            <v-data-table
              :search="search"
              :headers="headers"
              :items="plan"
              class="elevation-1"
            >
            </v-data-table>
          </v-card>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>

<script>
export default {
  name: "Nutrition",
  data: () => ({
    search: "",
    e1: 1,
    steps: [
      {
        number: 1,
        title: "Nutrition requirements",
      },
      {
        number: 2,
        title: "Food Plan",
      },
    ],
    diet: null,
    allergies: null,
    calories: null,
    dietaryItems: [
      "vegan",
      "vegetarian",
      "keto",
      "paleo",
      "high protein low fat",
      "Chris`s favourites",
    ],
    allergyItems: [
      "none",
      "dairy",
      "egg",
      "gluten",
      "grain",
      "peanut",
      "seafood",
      "sesame",
      "shellfish",
      "soy",
      "sulfite",
      "tree nut",
      "wheat",
    ],
    headers: [
      { text: "Recipe Name", value: "name" },
      { text: "Cooking Time (mins)", value: "cookingTime" },
      { text: "Protein", value: "macros.protein" },
      { text: "Carbohydrates", value: "macros.carbs" },
      { text: "Fat", value: "macros.fat" },      
      { text: "Calories", value: "calories" },      
      { text: "Ingrediants", value: "ingrediants" },
    ],
    plan: [],
    snackbar: false,
    text: "Please fill out basic information",
  }),
  watch: {
    steps(val) {
      if (this.e1 > val) {
        this.e1 = val;
      }
    },
  },

  methods: {
    nextStep(n) {
      if (n === this.steps) {
        this.e1 = 1;
      } else {
        this.e1 = n + 1;
      }
    },
    generate() {
      let data = {
        calories: this.calories,
        diet: this.diet,
        allergies: this.allergies,
      };
      this.$store.dispatch("getMeals", data).then((response) => {
        if (response) {
          console.log(response)
          this.plan = response.filter(meal => { return meal != null});
          this.e1 = 2;
        } else {
          // eslint-disable-next-line no-console
          console.log("error");
          alert("A plan couldn't be generate");
        }
      });
    },
    clear() {
      this.diet = null;
      this.allergies = null;
      this.calories = null;
    },
  },
};
</script>

<style scoped></style>
